<div class="pl-2 mt-4 citation-border">
  <p>Question: <%= @question %></p>
  <p class="font-italic">You</p>
</div>
<div class="pl-2 mt-4 citation-border">
  <p>Answer: <%= @answer %></p>
  <p class="font-italic">Coach</p>
</div>

<%= link_to 'Ask new question', ask_path %>
