// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-size: 18px;
  margin-left: 20px;
}

.citation-border {
  border-left: 5px solid rgb(200, 200, 200);
}

.width-300 {
  width: 300px !important;
}
